<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kbs.zfprinter">

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true"
        >
    </application>

</manifest>
